<?xml version="1.0"?>
<launch>

    <!-- Start the speech_recognition node recording action server -->
    <node name="speech_listener" pkg="hlpr_speech_recognition" type="speech_listener" respawn="false" output="screen" >
        <!-- yaml files that specify keywords to commands -->
        <!-- no param will default to: data/kps.yaml -->
        <param name="yaml_file" value="kps.yaml"/>
    </node>
    <!-- Start the speech gui -->
    <node name="speech_gui" pkg="hlpr_speech_recognition" type="speech_gui" respawn="false" output="screen" >
        <!-- list of yaml files that specify keywords to commands, mirrors keywords of listener -->
        <!-- no param will default to: data/kps.yaml -->
        <param name="yaml_file" value="kps.yaml"/>
    </node>
   
</launch>
